<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/images/BNB2.png" alt="" height="45" class="d-inline-block align-text-center"> BNB Banking Platform
        </a>
    </div>
</nav>

<ol class="list-group list-group-numbered">
    <div *ngFor="let doc of documents.data">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    <h3>
                        {{doc.DocName}} <span class="{{extensionBadge(doc.DocName)}}">{{extension(doc.DocName)}}</span>
                    </h3>

                </div>
                <p>
                    View Count:
                    <span class="badge rounded-pill bg-info">{{doc.ViewCount}}</span>
                </p>
                <p>
                    Download Count:
                    <span class="badge rounded-pill bg-primary">{{doc.DownloadCount}}</span>
                </p>
                <p>
                    Latest Modification Date: {{doc.LatestModDate | date: 'dd/MM/yyyy'}}
                </p>
            </div>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button [disabled]="!isExtension(doc.DocName)" (click)="goToPage('PdfViewer', doc)" class="btn btn-outline-primary">PreView</button>
                <button (click)="downloadDocument(doc.DocName, doc.DocPath)" class="btn btn-outline-primary">Download</button>
            </div>
        </li>
    </div>
</ol>

<footer>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgb(39, 181, 93);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">BankingPlatformBNB.com</a>
    </div>
    <!-- Copyright -->

</footer>
<router-outlet></router-outlet>